@import url("./reset.css");
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: var(--clr-bg);
  font-size: 1.6rem;
}

.btn-blue {
  padding: 1rem 2rem;
  font-size: 1.6rem;
  background: var(--clr-bg);
  color: #fff;
  text-decoration: none;
  border-radius: 2rem;
  cursor: pointer;
}

.container {
  padding: 2rem;
  height: 50vh;
  min-width: 40vw;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 1rem;
}

.password__box {
  display: flex;
  gap: 2rem;
  font-size: 2rem;
}

.check__zone {
  margin: 3rem 0;
  display: flex;
  justify-content: space-between;
}

.generate {
  display: flex;
  gap: 2rem;
}

.range__input {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.generate input {
  padding: 0 2rem;
}
