@import url("./reset.css");
@import url("./preloader.css");

html {
  overflow: hidden;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: var(--clr-bg);
}

.container {
  padding: 2rem;
  height: 50vh;
  min-width: 40vw;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 1rem;
}

.btn-blue {
  padding: 1rem 2rem;
  font-size: 1.6rem;
  background: var(--clr-bg);
  color: #fff;
  text-decoration: none;
  border-radius: 2rem;
  cursor: pointer;
}

.input__zone {
  position: relative;
}

.input__zone input {
  width: 100%;
  padding: 1rem 0.5rem;
  border-radius: 0.5rem;
  border: 0.5px solid var(--clr-txt);
}

.input__zone input::placeholder {
  color: var(--clr-txt);
  padding-left: 1rem;
}

.input__zone i {
  position: absolute;
  top: 50%;
  right: 10px; /* Distanza dall'inizio dell'input */
  transform: translateY(-50%);
  cursor: pointer;
  color: var(--clr-txt);
}

.conditions {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  color: var(--clr-txt);
}

.conditions li > i {
  font-size: 0.75rem;
  padding-right: 1rem;
}

.conditions li {
  font-size: 1.6rem;
}

.security {
  margin-top: 2rem;
  width: 0;

  height: 0.3rem;
  border-radius: 1rem;
}

.security p {
  margin-top: 1rem;
  font-size: 1.6rem;
}

.overlay {
  top: 10%;
  position: fixed;
  width: 50vw;
  height: 10vh;
  background: #fff;
  border-radius: 3rem;
  color: #333;
  display: none;
}

.overlay p {
  text-align: center;
  width: inherit;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.6rem;
}
