@import url("https://fonts.googleapis.com/css2?family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&display=swap");

:root {
  --clr-bg: #010a69;
  --clr-txt: #838080;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "Schibsted Grotesk", sans-serif;
}

.arrow__left {
  position: fixed;
  top: 2%;
  left: 2%;
  cursor: pointer;
  width: 48px;
  height: 48px;
}

.overlay {
  top: 10%;
  position: fixed;
  width: 50vw;
  height: 10vh;
  background: #fff;
  border-radius: 3rem;
  color: #333;
  display: none;
}

.overlay p {
  text-align: center;
  width: inherit;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.6rem;
}
